@import '../assets/xuicon/xuicon.css';
.wrapper-i_1 {
    background-image: url("https://s1.xmcdn.com/lib/xmweb/images/img_open_f8de94c.png"); 
}

.wrapper-i_2 {
    background-image: url("https://s1.xmcdn.com/lib/xmweb/images/img_A+_5ac7a3f.png"); 
}

.wrapper-i_3 {
    background-image: url("https://s1.xmcdn.com/lib/xmweb/images/img_inside_abb68ae.png"); 
}

.wrapper-i_4 {
    background-image: url("https://s1.xmcdn.com/lib/xmweb/images/img_connect_8d3b0d0.png"); 
}

.link-wrapper-i_1 {
    background-image: url(../assets/icp_d0289dc.png);
}

.link-wrapper-i_2 {
    background-image: url(../assets/icon_email_c8834ec.png);
}

.link-wrapper-i_3 {
    background-image: url(https://s1.xmcdn.com/lib/xmweb/images/report_13a6134.png);
}

.link-wrapper-i_4 {
    background-image: url(https://s1.xmcdn.com/lib/xmweb/images/warn_b6b8647.png);
}

.link-wrapper-i_5 {
    background-image: url(https://s1.xmcdn.com/lib/xmweb/images/trust_ed08478.png);
}

.entry-t1 .icon {
    background-image: url(../assets/web_ic_all_n_5369a98.png)
}

.entry-t1:hover .icon{
    background-image: url(../assets/web_ic_all_p_bed2f9d.png)
}

// .entry-t2 .icon {
//     background-image: url(../assets/web_ic_toplist_n_9d319cd.png)
// }
// .entry-t2:hover .icon{
//     background-image: url(../assets/web_ic_toplist_p_1b86f49.png)
// }
// .logo:before {
//     background: url(../assets/logo_f4a8f02.png) 0 no-repeat;
// }

.my-icon {
    background-image: url(../assets/default_9c0f537.png)
}

.picture:before {
    background-image: url(../assets/web_img_albums_cb6e159.png);
}

.content-date {
    background-image: url(../assets/img_date_dede7e6.png) ;
}

.everyday-content {
    background-image: url(../assets/bg_daily_8e9d934.png) 
}

.card-img {
    background-image: url(../assets/bg_b79f75d.png)
}

.player {
    background-image: url(../assets/play_bg_6753e73.png);
}

.player-lock {
    background-image:url(../assets/lock_bg_90d02f9.png);
}

.player-icon {
    background-image:url(../assets/wKgKnVviVAaDtch4AABDX38lpD0367.jpg);
}

.login-pop_footer {
    background-image: url(../assets/login_bg_c08c736.png);
}

.login-tab-btn:after {
    background-image: url(../assets/login_mask_1b6638c.png);
}


.tu1 {
    background-image: url(../assets/svg/tryTwo.svg)
}


.controls-play-icon {
    background: url(../assets/play_271bc3f.png) no-repeat 0 0;
    background-size: 100%;
}
.controls-pause-icon {
    background: url(../assets/pause_517a223.png) no-repeat 0 0;
    background-size: 100%;
}

.xui-vicon-blue-16 {
    background: url(../assets/blueV16_65f4cbc.png) no-repeat center;
    background-size: 100%;
}

.album-info-cover {
    background: url(../assets/cover-bottom_29764f1.png)no-repeat;
}

.i-hot, .i-relatedRec {
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
}
.i-hot {
    width: 16px;
    height: 16px;
    background-image: url(../assets/svg/hot.svg);
}
.i-relatedRec {
    width: 16px;
    height: 16px;
    background-image: url(../assets/svg/relatedRec.svg);
}

.icon-ic_play {
    background-image: url(../assets/svg/icon-ic_play.svg);
}


.playing {
    background-image: url(../assets/svg/icon-ic_stop.svg) 
  }
