@font-face {
    font-family: xuicon;
    src: url(https://s1.xmcdn.com/lib/xmweb/fonts/font_610213_bm1m3ai89d9_bdfecd1.eot);
    src: url(https://s1.xmcdn.com/lib/xmweb/fonts/font_610213_bm1m3ai89d9_fd3746b.eot#iefix) format("embedded-opentype"),
    url(https://s1.xmcdn.com/lib/xmweb/fonts/font_610213_bm1m3ai89d9_53ed7e5.woff) format("woff"),
    url(https://s1.xmcdn.com/lib/xmweb/fonts/font_610213_bm1m3ai89d9_49a5ff8.ttf) format("truetype"),
    url(https://s1.xmcdn.com/lib/xmweb/fonts/font_610213_bm1m3ai89d9_c59c23b.svg#iconfont) format("svg")
}

.xuicon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.xuicon:before {
    display: block;
    font-family: xuicon!important
}


.xuicon-web_ic_all_h:before {
    content: "\e605"
}

.xuicon-web_ic_all_n:before {
    content: "\e606"
}

.xuicon-web_ic_play_m_N:before {
    content: "\e60d"
}

.xuicon-web_ic_play_l:before {
    content: "\e60e"
}

.xuicon-web_ic_play_s_h:before {
    content: "\e60f"
}

.xuicon-web_ic_search:before {
    content: "\e610"
}

.xuicon-web_ic_toplist_h:before {
    content: "\e612"
}

.xuicon-web_ic_toplist_n:before {
    content: "\e613"
}

.xuicon-web_img_top:before {
    content: "\e618"
}

.xuicon-web_img_top_o:before {
    content: "\e619"
}

.xuicon-web_ic_update_h:before {
    content: "\e61a"
}

.xuicon-web_img_top_o1:before {
    content: "\e61b"
}

.xuicon-web_img_top_o2:before {
    content: "\e61c"
}

.xuicon-web_img_top1:before {
    content: "\e61d"
}

.xuicon-web_img_top2:before {
    content: "\e61e"
}

.xuicon-youshengshu:before {
    content: "\e627"
}

.xuicon-ertong:before {
    content: "\e628"
}

.xuicon-erciyuan:before {
    content: "\e629"
}

.xuicon-toutiao:before {
    content: "\e62a"
}

.xuicon-xiangshengpingshu:before {
    content: "\e62b"
}

.xuicon-qinggan:before {
    content: "\e62c"
}

.xuicon-xiqu:before {
    content: "\e62d"
}

.xuicon-tuokouxiu:before {
    content: "\e62e"
}

.xuicon-yingshi:before {
    content: "\e62f"
}

.xuicon-yule:before {
    content: "\e630"
}

.xuicon-yinle:before {
    content: "\e631"
}

.xuicon-jiaoyupeixun:before {
    content: "\e632"
}

.xuicon-shangyecaijing:before {
    content: "\e633"
}

.xuicon-renwen:before {
    content: "\e634"
}

.xuicon-duoyuzhong:before {
    content: "\e635"
}

.xuicon-guoxuejingdian:before {
    content: "\e636"
}

.xuicon-yingyu:before {
    content: "\e637"
}

.xuicon-lishi:before {
    content: "\e638"
}

.xuicon-ITkeji:before {
    content: "\e639"
}

.xuicon-shige:before {
    content: "\e63a"
}

.xuicon-shishangshenghuo:before {
    content: "\e63b"
}

.xuicon-lvyou:before {
    content: "\e63c"
}

.xuicon-jiankangyangsheng:before {
    content: "\e63d"
}

.xuicon-dangtuanke:before {
    content: "\e63e"
}

.xuicon-fufeijingpin:before {
    content: "\e63f"
}

.xuicon-diantai:before {
    content: "\e640"
}

.xuicon-guangboju:before {
    content: "\e641"
}

.xuicon-dtiyanguan:before {
    content: "\e642"
}

.xuicon-mingxiaogongkaike:before {
    content: "\e643"
}

.xuicon-pinpaizhisheng:before {
    content: "\e644"
}

.xuicon-qiche:before {
    content: "\e645"
}

.xuicon-yueyu:before {
    content: "\e646"
}

.xuicon-tongyongicon:before {
    content: "\e647"
}

.xuicon-zhengwudiantai:before {
    content: "\e648"
}

.xuicon-tingbendi:before {
    content: "\e649"
}

.xuicon-web_ic_play_m_N1:before {
    content: "\e64a"
}

.xuicon-delete:before {
    content: "\e64b"
}

.xuicon-web_album_btn_face_h:before {
    content: "\e64c"
}

.xuicon-web_album_btn_face_n:before {
    content: "\e64d"
}

.xuicon-web_album_btn_face_p:before {
    content: "\e64e"
}

.xuicon-web_album_btn_qq:before {
    content: "\e64f"
}

.xuicon-web_album_btn_play_l:before {
    content: "\e650"
}

.xuicon-web_album_btn_moment:before {
    content: "\e651"
}

.xuicon-web_album_btn_play_s:before {
    content: "\e652"
}

.xuicon-web_album_btn_qzone:before {
    content: "\e653"
}

.xuicon-web_album_btn_stop:before {
    content: "\e654"
}

.xuicon-web_album_btn_stop_l:before {
    content: "\e655"
}

.xuicon-web_album_btn_warnin:before {
    content: "\e656"
}

.xuicon-web_album_btn_wechat:before {
    content: "\e658"
}

.xuicon-web_album_btn_weibo:before {
    content: "\e659"
}

.xuicon-web_album_ic_album:before {
    content: "\e65a"
}

.xuicon-web_album_ic_fans:before {
    content: "\e65b"
}

.xuicon-web_album_ic_lock:before {
    content: "\e65c"
}

.xuicon-web_album_ic_foucus_:before {
    content: "\e65d"
}

.xuicon-web_album_ic_followe:before {
    content: "\e65e"
}

.xuicon-web_album_ic_foucus_1:before {
    content: "\e65f"
}

.xuicon-web_album_ic_related:before {
    content: "\e660"
}

.xuicon-web_album_ic_phone:before {
    content: "\e661"
}

.xuicon-web_album_ic_rhythm:before {
    content: "\e662"
}

.xuicon-web_album_ic_share:before {
    content: "\e663"
}

.xuicon-web_album_ic_user:before {
    content: "\e664"
}

.xuicon-web_album_ic_voice:before {
    content: "\e665"
}

.xuicon-web_album_ic_downloa:before {
    content: "\e667"
}

.xuicon-web_album_ic_data1:before {
    content: "\e668"
}

.xuicon-erji:before {
    content: "\e66a"
}

.xuicon-show-more:before {
    content: "\e66d"
}

.xuicon-youfanye:before {
    content: "\e66f"
}

.xuicon-zuofanye:before {
    content: "\e670"
}

.xuicon-zan:before {
    content: "\e671"
}

.xuicon-zanliao:before {
    content: "\e672"
}

.xuicon-plus:before {
    content: "\e673"
}

.xuicon-web_album_btn_commen:before {
    content: "\e674"
}

.xuicon-web_album_btn_like_n:before {
    content: "\e675"
}

.xuicon-web_album_btn_like_p:before {
    content: "\e676"
}

.xuicon-web_album_ic_data2:before {
    content: "\e677"
}

.xuicon-web_album_btn_re_n:before {
    content: "\e678"
}

.xuicon-web_album_btn_share_:before {
    content: "\e679"
}

.xuicon-web_album_ic_downloa1:before {
    content: "\e67a"
}

.xuicon-guanzhu:before {
    content: "\e67e"
}

.xuicon-quanjubofangqi-danquxunhuan:before {
    content: "\e67f"
}

.xuicon-quanjubofangqi-dianzan:before {
    content: "\e680"
}

.xuicon-cha:before {
    content: "\e681"
}

.xuicon-quanjubofangqi-dian:before {
    content: "\e682"
}

.xuicon-quanjubofangqi-fenxiang:before {
    content: "\e683"
}

.xuicon-quanjubofangqi-bofangliebiao:before {
    content: "\e684"
}

.xuicon-quanjubofangqi-kaisuo:before {
    content: "\e685"
}

.xuicon-quanjubofangqi-suiji:before {
    content: "\e686"
}

.xuicon-quanjubofangqi-jingyin:before {
    content: "\e687"
}

.xuicon-quanjubofangqi-xiazai:before {
    content: "\e688"
}

.xuicon-quanjubofangqi-suoding:before {
    content: "\e689"
}

.xuicon-quanjubofangqi-xunhuan:before {
    content: "\e68a"
}

.xuicon-quanjubofangqi-yinliang:before {
    content: "\e68b"
}

.xuicon-quanjubofangqi-zanliao:before {
    content: "\e68c"
}

.xuicon-quanjubofangqi-bofang:before {
    content: "\e68d"
}

.xuicon-quanjubofangqi-zanting:before {
    content: "\e68e"
}

.xuicon-quanjubofangqi-shangyiqu:before {
    content: "\e68f"
}

.xuicon-quanjubofangqi-xiayiqu:before {
    content: "\e690"
}

.xuicon-denglu-qiehuan-mimadenglu:before {
    content: "\e691"
}

.xuicon-denglu-guanbi:before {
    content: "\e692"
}

.xuicon-denglu-weixin:before {
    content: "\e693"
}

.xuicon-denglu-QQ:before {
    content: "\e694"
}

.xuicon-denglu-weibo:before {
    content: "\e695"
}

.xuicon-denglu-qiehuan-erweima:before {
    content: "\e696"
}

.xuicon-fuxuankuang-xuanzhong:before {
    content: "\e697"
}

.xuicon-fuxuankuang-weixuan:before {
    content: "\e698"
}

.xuicon-wode-dingyue-n:before {
    content: "\e699"
}

.xuicon-wode-dingyue-shezhi:before {
    content: "\e69a"
}

.xuicon-wode-dingyue-p:before {
    content: "\e69b"
}

.xuicon-wode-xihuan-n:before {
    content: "\e69c"
}

.xuicon-wode-tingguo-p:before {
    content: "\e69d"
}

.xuicon-wode-tingguo-n:before {
    content: "\e69e"
}

.xuicon-wode-yigou-p:before {
    content: "\e69f"
}

.xuicon-wode-yuansu-shichang:before {
    content: "\e6a0"
}

.xuicon-wode-xihuan-p:before {
    content: "\e6a1"
}

.xuicon-wode-yuansu-zhubo:before {
    content: "\e6a2"
}

.xuicon-xiangguantuijian:before {
    content: "\e6a3"
}

.xuicon-wode-yigou-n:before {
    content: "\e6a4"
}

.xuicon-tab-xuanzhong:before {
    content: "\e6a6"
}

.xuicon-xiaoxizhongxin-bg-l:before {
    content: "\e6a7"
}

.xuicon-xiaoxizhongxin-bg-s:before {
    content: "\e6a8"
}

.xuicon-xiaoxizhongxin-hongdian:before {
    content: "\e6a9"
}

.xuicon-data_location:before {
    content: "\e6aa"
}

.xuicon-data_woman:before {
    content: "\e6ab"
}

.xuicon-data_man:before {
    content: "\e6ac"
}

.xuicon-baiyang:before {
    content: "\e6ad"
}

.xuicon-sheshou:before {
    content: "\e6ae"
}

.xuicon-mojie:before {
    content: "\e6af"
}

.xuicon-jinniu:before {
    content: "\e6b0"
}

.xuicon-juxie:before {
    content: "\e6b1"
}

.xuicon-chunv:before {
    content: "\e6b2"
}

.xuicon-shuangyu:before {
    content: "\e6b3"
}

.xuicon-shizi:before {
    content: "\e6b4"
}

.xuicon-shuiping:before {
    content: "\e6b5"
}

.xuicon-tiancheng:before {
    content: "\e6b6"
}

.xuicon-tianxie:before {
    content: "\e6b7"
}

.xuicon-shuangzisvg:before {
    content: "\e6b8"
}

.xuicon-radio_p:before {
    content: "\e6b9"
}

.xuicon-radio_n:before {
    content: "\e6ba"
}

.xuicon-bofang-bai:before {
    content: "\e6bb"
}

.xuicon-zanting-bai:before {
    content: "\e6bc"
}

.xuicon-erji1:before {
    content: "\e6bd"
}

.xuicon-changxiaoshu:before {
    content: "\e6be"
}

.xuicon-iOS:before {
    content: "\e6c0"
}

.xuicon-feedback:before {
    content: "\e6c1"
}

.xuicon-top:before {
    content: "\e6c2"
}

.xuicon-android:before {
    content: "\e6c3"
}

.xuicon-WeChat:before {
    content: "\e6c4"
}

.xuicon-QRcode:before {
    content: "\e6c5"
}

.xuicon-wp:before {
    content: "\e6c6"
}

.xuicon-web_ic_stop_l:before {
    content: "\e6c7"
}

.xuicon-zhiding1:before {
    content: "\e6c8"
}

.xuicon-web_ic_v:before {
    content: "\e6ca"
}

.xuicon-web_ic_upload_h1:before {
    content: "\e6cc"
}

.xuicon-web_ic_wdjm:before {
    content: "\e6cd"
}

.xuicon-web_ic_backstage_h1:before {
    content: "\e6d7"
}

.xuicon-web_ic_aplus_h1:before {
    content: "\e6cb"
}

.xuicon-web_ic_xiaoya_h1:before {
    content: "\e6ce"
}

.xuicon-erji2:before {
    content: "\e6d0"
}

.xuicon-zhubo:before {
    content: "\e6d1"
}

.xuicon-lianzai:before {
    content: "\e6d2"
}

.xuicon-fufei:before {
    content: "\e6d3"
}

.xuicon-shiting1:before {
    content: "\e6d4"
}

.xuicon-yugao1:before {
    content: "\e6d6"
}

.xuicon-wanben:before {
    content: "\e6cf"
}

.xuicon-zhuancai:before {
    content: "\e6d5"
}

.xuicon-fufeibang:before {
    content: "\e6d8"
}

.xuicon-bodan:before {
    content: "\e6d9"
}

.xuicon-mianfeibang:before {
    content: "\e6da"
}

.xuicon-xiazai:before {
    content: "\e6db"
}

.xuicon-xiangguantuijian1:before {
    content: "\e6dc"
}

.xuicon-zhuanjixiangguan:before {
    content: "\e6dd"
}

.xuicon-zhubo1:before {
    content: "\e6de"
}

.xuicon-share_sina:before {
    content: "\e6df"
}

.xuicon-share_QQ:before {
    content: "\e6e0"
}

.xuicon-share_weixin:before {
    content: "\e6e1"
}

.xuicon-huanyihuan:before {
    content: "\e6e2"
}

.xuicon-shengyin1:before {
    content: "\e6e3"
}

.xuicon-heimingdan:before {
    content: "\e6e4"
}

.xuicon-loading:before {
    content: "\e6e5"
}

.xuicon-yixiajia:before {
    content: "\e6a5"
}

.xuicon-fangda:before {
    content: "\e6bf"
}

.xuicon-suoxiao:before {
    content: "\e6c9"
}

.xuicon-loading1:before {
    content: "\e6e6"
}

.xuicon-shenhezhong:before {
    content: "\e6e7"
}

.xuicon-arrow-up:before {
    content: "\e6e8"
}

.xuicon-left:before {
    content: "\e6e9"
}

.xuicon-right:before {
    content: "\e6ea"
}

.xuicon-down:before {
    content: "\e6eb"
}

.xuicon-resend:before {
    content: "\e6ec"
}

.xuicon-show-detail:before {
    content: "\e6ed"
}

.xuicon-album-n:before {
    content: "\e6ee"
}

.xuicon-album-p:before {
    content: "\e6ef"
}

.xuicon-anchor-n:before {
    content: "\e6f0"
}

.xuicon-sound-n:before {
    content: "\e6f1"
}

.xuicon-anchor-p:before {
    content: "\e6f2"
}

.xuicon-sound-p:before {
    content: "\e6f3"
}

.xuicon-qq:before {
    content: "\e6f4"
}

.xuicon-wechat:before {
    content: "\e6f5"
}

.xuicon-qzone:before {
    content: "\e6f6"
}

.xuicon-pyq:before {
    content: "\e6f7"
}

.xuicon-weibo:before {
    content: "\e6f8"
}

.xuicon-copy:before {
    content: "\e6f9"
}

.xuicon-focus_n:before {
    content: "\e6fb"
}

.xuicon-message:before {
    content: "\e6fc"
}

.xuicon-focus_p:before {
    content: "\e6fe"
}

.xuicon-podcast:before {
    content: "\e6ff"
}

.xuicon-ic_album:before {
    content: "\e702"
}

.xuicon-ic_baiyang:before {
    content: "\e6fa"
}

.xuicon-ic_fans:before {
    content: "\e6fd"
}

.xuicon-ic_introduce:before {
    content: "\e700"
}

.xuicon-ic_chunv:before {
    content: "\e703"
}

.xuicon-ic_jinniu:before {
    content: "\e704"
}

.xuicon-ic_man:before {
    content: "\e705"
}

.xuicon-ic_share:before {
    content: "\e706"
}

.xuicon-ic_juxie:before {
    content: "\e707"
}

.xuicon-ic_link:before {
    content: "\e708"
}

.xuicon-ic_location:before {
    content: "\e709"
}

.xuicon-ic_mojie:before {
    content: "\e70a"
}

.xuicon-ic_shuangyu:before {
    content: "\e70b"
}

.xuicon-ic_sheshou:before {
    content: "\e70c"
}

.xuicon-ic_shuangzi:before {
    content: "\e70d"
}

.xuicon-ic_shizi:before {
    content: "\e70e"
}

.xuicon-ic_shuiping:before {
    content: "\e70f"
}

.xuicon-ic_tiancheng:before {
    content: "\e710"
}

.xuicon-ic_woman:before {
    content: "\e711"
}

.xuicon-ic_tianxie:before {
    content: "\e712"
}

.xuicon-ic_certification:before {
    content: "\e713"
}

.xuicon-ic_pyq_h1:before {
    content: "\e715"
}

.xuicon-ic_commen:before {
    content: "\e714"
}

.xuicon-chat:before {
    content: "\e701"
}

.xuicon-more:before {
    content: "\e716"
}

.xuicon-ic_sound_w:before {
    content: "\e717"
}

.xuicon-ic_album_w:before {
    content: "\e718"
}

.xuicon-ic_play:before {
    content: "\e719"
}

.xuicon-ic_stop:before {
    content: "\e71a"
}

.xuicon-lesson_ic_voice:before {
    content: "\e71b"
}

.xuicon-btn_follow-n:before {
    content: "\e71c"
}

.xuicon-btn_homepage-n:before {
    content: "\e71d"
}

.xuicon-btn_fans-n:before {
    content: "\e71e"
}

.xuicon-btn_pyq_n:before {
    content: "\e71f"
}

.xuicon-btn_homepage-p:before {
    content: "\e720"
}

.xuicon-ic_follow:before {
    content: "\e721"
}

.xuicon-ic_download:before {
    content: "\e722"
}

.xuicon-btn_follow-p:before {
    content: "\e723"
}

.xuicon-btn_pyq_p:before {
    content: "\e725"
}

.xuicon-ic_live:before {
    content: "\e726"
}

.xuicon-ic_gzdr:before {
    content: "\e727"
}

.xuicon-btn_fans-p:before {
    content: "\e724"
}

.xuicon-ic_information:before {
    content: "\e728"
}

.xuicon-btn_fd:before {
    content: "\e729"
}

.xuicon-btn_sx:before {
    content: "\e72a"
}

.xuicon-ic_text:before {
    content: "\e72f"
}

.xuicon-ic_play_gray:before {
    content: "\e72b"
}

.xuicon-ic_play_orange:before {
    content: "\e72c"
}

.xuicon-ic_hot:before {
    content: "\e72d"
}

.xuicon-ic_look:before {
    content: "\e72e"
}

.xuicon-ic_text:before {
    content: "\e72f"
}

.xuicon-web_ic_xpy:before {
    content: "\e730"
}

.xuicon-icon-test:before {
    content: "\e731"
}

.xuicon-icon-test1:before {
    content: "\e732"
}